<!DOCTYPE html>
<html>
    <head>
               <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="10s.css">
        <link rel="stylesheet" type="text/css" href="../static/10s.css">
        <script src = "../static/eURO.js"></script>
        
    </head>
    <body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Footee</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="{{url_for('index')}}">Home Page</a></li>
      <li><a href="{{url_for('ninetyspage')}}">90s</a></li>
      <li><a href="{{url_for('twos')}}">00s</a></li>
      <li><a href="{{url_for('tens')}}">10s</a></li>
      <li><a href="{{url_for('WC')}}">World Cup</a></li>
      <li><a href="{{url_for('CL')}}">Champions League</a></li>
      <li  class="active"><a href="{{url_for('EURO')}}">Euro's</a></li>
    </ul>
  </div>
</nav>

    <input type = "button" value ="Hint - Q1" onClick = "hintQ1()">
    <input type = "button" value ="Hint - Q2" onClick = "hintQ2()">
    <input type = "button" value ="Hint - Q3" onClick = "hintQ3()">
    <input type = "button" value ="Hint - Q4" onClick = "hintQ4()">
    
        <h2 id="test_status"></h2>
        <div id ="test"> hello </div>
       <div class="image"></div>
    </body>
</html>