<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/HomePage.css">
        <title> Choose a catergory</title>
         
    </head>
    <body>
        <h1 align = "center" ><font color="#c0c0c0">Choose a Catergory</h1>
        <div class="col-sm-4 text-center" id="mainContent">
            <div class="centerBlock">
    <a href="{{url_for('ninetyspage')}}"><button id="clickButton" class="buttonStyle buttonStyle1">90s Trivia </button></a>
    </div>
    </div>
    <div class="col-sm-4" id="mainContent">
         <div class="centerBlock">
      <a href="{{url_for('twos')}}"><button id="clickButton" class="buttonStyle buttonStyle2">00s Trivia </button></a>
      </div>
    </div>
    <div class="col-sm-4" id="mainContent">
        <div class="centerBlock">
      <a href="{{url_for('tens')}}"><button id="clickButton" class="buttonStyle buttonStyle3">10s Trivia </button></a>
      </div>
    </div>
    <div class="col-sm-4" id="mainContent">
        <div class="centerBlock">
      <a href="{{url_for('WC')}}"><button id="clickButton" class="buttonStyle buttonStyle4">World Cup Trivia </button></a>
      </div>
    </div>
    <div class="col-sm-4" id="mainContent">
        <div class="centerBlock">
      <a href="{{url_for('CL')}}"><button id="clickButton" class="buttonStyle buttonStyle5">Champions League trivia</button></a>
      </div>
    </div>
    <div class="col-sm-4" id="mainContent">
        <div class="centerBlock">
      <a href="{{url_for('EURO')}}"><button id="clickButton" class="buttonStyle buttonStyle6">Euros</button></a>
      </div>
    </div>
    
    </body>
    
</html>